POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contraseña
POSTGRES_DB=cad_jobs
DATABASE_URL=postgresql://tu_usuario:tu_contraseña@localhost:5432/cad_jobs

MINIO_ROOT_USER=tu_usuario_minio
MINIO_ROOT_PASSWORD=tu_contraseña_minio
MINIO_URL=http://localhost:9000
BUCKET_NAME=metashapes-models

OLLAMA_URL=http://tu_ip_local:11434/api/generate