# Caché y entornos de Python
__pycache__/
*.pyc
venv/
env/

# Archivos de la base de datos local
*.sqlite3

# Scripts y estados locales (Archivos específicos mio que uso para inicializar todo junto)
states.txt
iniciar.bat
finalizar.bat

# Variables de entorno 
.env
